{% extends 'base/base.html' %}
{% load static %}
{% block welcome %}
    <section>
        <div class="card justify-content-center mx-auto" style="width: 400px;">
            <div class="card-header">
              Iniciar sesión
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'bases:signin' %}" style="display: grid; place-items: center;">
                    {% csrf_token %}
                    {{error}}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" class="form-control" placeholder="Nombre completo" aria-label="Username" aria-describedby="basic-addon1" name="username" id="id_username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Contraseña</span>
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1" name="password" id="id_password">
                    </div>
                    <button class="btn btn-outline-danger button_primary" type="submit">
                        Iniciar sesión
                    </button>
                </form>
                <small class="text-danger">
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </small>
            </div>
            <div class="card-footer text-body-secondary text-center">
                ¿No tienes una cuenta? <a href="{% url 'bases:signup' %}" class="text-danger">Registrate ahora</a>
            </div>
        </div>
    </section>
{% endblock %}
{% block carousel %}{% endblock %}
{% block gps %}{% endblock %}