{% extends 'base/base.html' %}
{% load static %}
{% block welcome %}
    <section>
        <div class="card justify-content-center mx-auto" style="width: 400px;">
            <div class="card-header">
              Iniciar sesión
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'bases:signin' %}" style="display: grid; place-items: center;">
                    {% csrf_token %}
                    {{error}}
                    {{ form.as_p}}
                    <button class="btn btn-outline-danger button_primary" type="submit">
                        Iniciar sesión
                    </button>
                </form>
                <small class="text-danger">
                    {% if form.errors %}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </small>
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>
    </section>
{% endblock %}
{% block carousel %}{% endblock %}
{% block gps %}{% endblock %}