{% extends 'base/base.html' %}
{% load static %}
{% block welcome %}
    <section>
        <div class="card justify-content-center mx-auto" style="width: 400px;">
            <div class="card-header">
              Tus direcciones
            </div>
            <div class="card-body">
                
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>
    </section>
{% endblock %}
{% block carousel %}{% endblock %}
{% block gps %}{% endblock %}