{% extends 'base/base.html' %}
{% load static %}
{% block welcome %}
    <section>
        <div class="card justify-content-center mx-5 ">
            <div class="card-header d-flex justify-content-between">
              <p class="d-inline">Tus direcciones</p>
              <div class="d-inline btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-border-width"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="btn" href="{% url 'cmp:address_form' %}">Nueva direccion</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body table-responsive">
                {% if not obj %}
                <small class="text-danger" >
                    No hay direcciones registradas
                </small>
                {% else %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calle</th>
                        <th scope="col">Numero&nbsp;exterior</th>
                        <th scope="col">Numero&nbsp;interior</th>
                        <th scope="col">Entre&nbsp;calle&nbsp;1</th>
                        <th scope="col">Entre&nbsp;calle&nbsp;2</th>
                        <th scope="col">Codigo&nbsp;postal</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Comentarios</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in obj %}
                            <tr>
                                <th scope="row">{{item.id}}</th>
                                <td>{{item.name}}</td>
                                <td>{{item.street}}</td>
                                <td>{{item.outdoor_number}}</td>
                                <td>{{item.indoor_number}}</td>
                                <td>{{item.street2}}</td>
                                <td>{{item.street3}}</td>
                                <td>{{item.postal_code}}</td>
                                <td>{{item.phone_number}}</td>
                                <td>{{item.description}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>
    </section>
{% endblock %}
{% block carousel %}{% endblock %}
{% block gps %}{% endblock %}